:root {
  margin: 0;
  padding: 0;
  --body-fonts: "Anonymous Pro", sans-serif !important;
}

body {
  font-family: var(--body-fonts);
  overflow-x: hidden !important;
}

body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--body-fonts);
}

p {
  font-family: var(--body-fonts);
}

h1 h2 h3 h4 h5 h6 {
  font-family: var(--body-fonts);
}

ul li {
  list-style: none;
  text-decoration: none;
  font-family: var(--body-fonts);
}

Link {
  all: unset;
}

/* Custom text selection colors */
::selection {
  background-color: #c8d627; /* primary-300 color */
  color: #0f172a; /* slate-900 for black text */
}

::-moz-selection {
  background-color: #c8d627; /* primary-300 color */
  color: #0f172a; /* slate-900 for black text */
}

/* Start Work Experience */
.experience::before {
  background: url("./assets/images/prop.png") no-repeat;
  position: absolute;
  /* margin-top: 6px; */
  content: "";
  height: 242px;
  width: 242px;
  top: 950px;
  right: -35px;
  z-index: 100;
}

/* End Work Experience */
